---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/geo/1.0/zip?appid=<OPEN_WEATHER_API_KEY>&zip=80123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"80123","name":"Lakewood","lat":39.6206,"lon":-105.0901,"country":"US"}'
  recorded_at: Mon, 21 Jul 2025 01:35:07 GMT
- request:
    method: get
    uri: https://api.farmsense.net/v1/frostdates/stations/?lat=39.6206&lon=-105.0901
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"id":"54762","name":"LAKEWOOD","elevation":"5","lat":"39.750000","lon":"-105.116669","distance":"9.05215567183104"},{"id":"54452","name":"KASSLER","elevation":"5","lat":"39.483334","lon":"-105.099998","distance":"9.49942739337911"},{"id":"52790","name":"EVERGREEN","elevation":"7","lat":"39.633331","lon":"-105.316666","distance":"12.089838685681414"},{"id":"51547","name":"CHERRY
        CREEK DAM","elevation":"5","lat":"39.633331","lon":"-104.833336","distance":"13.693235189750121"},{"id":"52220","name":"DENVER
        STAPELTON","elevation":"5","lat":"39.766666","lon":"-104.866669","distance":"15.588072998310206"},{"id":"51401","name":"CASTLE
        ROCK","elevation":"6","lat":"39.366669","lon":"-104.833336","distance":"22.255622113240417"},{"id":"50454","name":"BAILEY","elevation":"7","lat":"39.400002","lon":"-105.483330","distance":"25.918788466880883"},{"id":"50848","name":"BOULDER","elevation":"5","lat":"40.000000","lon":"-105.266670","distance":"27.840512319846578"},{"id":"51528","name":"CHEESMAN","elevation":"6","lat":"39.216667","lon":"-105.283333","distance":"29.75573715920462"},{"id":"51186","name":"CABIN
        CREEK","elevation":"10","lat":"39.650002","lon":"-105.699997","distance":"32.51818546622463"}]'
  recorded_at: Mon, 21 Jul 2025 01:35:07 GMT
- request:
    method: get
    uri: https://api.farmsense.net/v1/frostdates/probabilities/?season=1&station=54762
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"season_id":"1","temperature_threshold":"36","prob_90":"0505","prob_80":"0510","prob_70":"0514","prob_60":"0517","prob_50":"0520","prob_40":"0523","prob_30":"0526","prob_20":"0530","prob_10":"0604"},{"season_id":"1","temperature_threshold":"32","prob_90":"0424","prob_80":"0429","prob_70":"0503","prob_60":"0506","prob_50":"0509","prob_40":"0512","prob_30":"0515","prob_20":"0519","prob_10":"0524"},{"season_id":"1","temperature_threshold":"28","prob_90":"0411","prob_80":"0417","prob_70":"0421","prob_60":"0425","prob_50":"0429","prob_40":"0502","prob_30":"0506","prob_20":"0510","prob_10":"0517"},{"season_id":"1","temperature_threshold":"24","prob_90":"0329","prob_80":"0404","prob_70":"0408","prob_60":"0412","prob_50":"0415","prob_40":"0419","prob_30":"0422","prob_20":"0426","prob_10":"0502"},{"season_id":"1","temperature_threshold":"20","prob_90":"0316","prob_80":"0323","prob_70":"0328","prob_60":"0401","prob_50":"0405","prob_40":"0409","prob_30":"0414","prob_20":"0419","prob_10":"0426"},{"season_id":"1","temperature_threshold":"16","prob_90":"0305","prob_80":"0312","prob_70":"0318","prob_60":"0322","prob_50":"0327","prob_40":"0331","prob_30":"0405","prob_20":"0410","prob_10":"0418"}]'
  recorded_at: Mon, 21 Jul 2025 01:35:08 GMT
[...]
