---
http_interactions:
- request:
    method: get
    uri: https://api.farmsense.net/v1/frostdates/probabilities/?season=2&station=54762
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"season_id":"2","temperature_threshold":"36","prob_90":"1006","prob_80":"1002","prob_70":"0929","prob_60":"0927","prob_50":"0925","prob_40":"0922","prob_30":"0920","prob_20":"0917","prob_10":"0913"},{"season_id":"2","temperature_threshold":"32","prob_90":"1014","prob_80":"1010","prob_70":"1006","prob_60":"1004","prob_50":"1001","prob_40":"0928","prob_30":"0926","prob_20":"0922","prob_10":"0918"},{"season_id":"2","temperature_threshold":"28","prob_90":"1024","prob_80":"1019","prob_70":"1015","prob_60":"1012","prob_50":"1009","prob_40":"1006","prob_30":"1003","prob_20":"0929","prob_10":"0924"},{"season_id":"2","temperature_threshold":"24","prob_90":"1108","prob_80":"1102","prob_70":"1028","prob_60":"1024","prob_50":"1020","prob_40":"1016","prob_30":"1012","prob_20":"1007","prob_10":"0930"},{"season_id":"2","temperature_threshold":"20","prob_90":"1118","prob_80":"1112","prob_70":"1107","prob_60":"1104","prob_50":"1031","prob_40":"1028","prob_30":"1024","prob_20":"1019","prob_10":"1013"},{"season_id":"2","temperature_threshold":"16","prob_90":"1126","prob_80":"1120","prob_70":"1115","prob_60":"1111","prob_50":"1108","prob_40":"1104","prob_30":"1031","prob_20":"1026","prob_10":"1020"}]'
  recorded_at: Mon, 21 Jul 2025 01:29:33 GMT
recorded_with: VCR 6.3.1
