---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely,hourly&lat=39.6118&lon=-104.9506&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.6118,"lon":-104.9506,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1753061385,"sunrise":1753012124,"sunset":1753064594,"temp":81.63,"feels_like":80.31,"pressure":1007,"humidity":31,"dew_point":48.09,"uvi":0.3,"clouds":40,"visibility":10000,"wind_speed":14.97,"wind_deg":200,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"daily":[{"dt":1753038000,"sunrise":1753012124,"sunset":1753064594,"moonrise":1752995880,"moonset":1753052400,"moon_phase":0.85,"summary":"Expect
        a day of partly cloudy with clear spells","temp":{"day":89.37,"min":64.04,"max":89.37,"night":72.88,"eve":81.63,"morn":71.2},"feels_like":{"day":86.07,"night":71.69,"eve":80.31,"morn":70.32},"pressure":1007,"humidity":23,"dew_point":34.56,"wind_speed":16.33,"wind_deg":219,"wind_gust":21.59,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"clouds":0,"pop":0,"uvi":10.58},{"dt":1753124400,"sunrise":1753098574,"sunset":1753150951,"moonrise":1753085100,"moonset":1753143060,"moon_phase":0.89,"summary":"There
        will be partly cloudy today","temp":{"day":93.18,"min":61.68,"max":96.35,"night":72.07,"eve":85.68,"morn":66.56},"feels_like":{"day":88.66,"night":71.19,"eve":82.69,"morn":64.85},"pressure":1006,"humidity":12,"dew_point":33.96,"wind_speed":10.45,"wind_deg":196,"wind_gust":16.93,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"clouds":75,"pop":0.01,"uvi":10.59},{"dt":1753210800,"sunrise":1753185025,"sunset":1753237306,"moonrise":1753174980,"moonset":1753233240,"moon_phase":0.92,"summary":"Expect
        a day of partly cloudy with rain","temp":{"day":93.52,"min":65.39,"max":95,"night":66.96,"eve":79.57,"morn":70.29},"feels_like":{"day":89.31,"night":66.51,"eve":79.57,"morn":68.99},"pressure":1005,"humidity":16,"dew_point":40.15,"wind_speed":23.26,"wind_deg":246,"wind_gust":28.95,"weather":[{"id":502,"main":"Rain","description":"heavy
        intensity rain","icon":"10d"}],"clouds":5,"pop":1,"rain":6.93,"uvi":10.71},{"dt":1753297200,"sunrise":1753271476,"sunset":1753323659,"moonrise":1753265460,"moonset":1753322640,"moon_phase":0.96,"summary":"You
        can expect partly cloudy in the morning, with rain in the afternoon","temp":{"day":87.87,"min":66.16,"max":87.87,"night":70.93,"eve":85.37,"morn":68.25},"feels_like":{"day":84.49,"night":70.45,"eve":82.85,"morn":67.32},"pressure":1008,"humidity":21,"dew_point":43.39,"wind_speed":14.2,"wind_deg":19,"wind_gust":21.79,"weather":[{"id":500,"m[...]
