---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/geo/1.0/zip?appid=<OPEN_WEATHER_API_KEY>&zip=80121
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"80121","name":"Greenwood Village","lat":39.6111,"lon":-104.9532,"country":"US"}'
  recorded_at: Mon, 21 Jul 2025 01:29:45 GMT
recorded_with: VCR 6.3.1
