---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/geo/1.0/zip?appid=<OPEN_WEATHER_API_KEY>&zip=80123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"80123","name":"Lakewood","lat":39.6206,"lon":-105.0901,"country":"US"}'
  recorded_at: Mon, 21 Jul 2025 01:27:47 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=<OPEN_WEATHER_API_KEY>&exclude=minutely,hourly&lat=39.6206&lon=-105.0901&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.6206,"lon":-105.0901,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1753061267,"sunrise":1753012156,"sunset":1753064629,"temp":79.95,"feels_like":79.95,"pressure":1008,"humidity":33,"dew_point":48.31,"uvi":0.38,"clouds":99,"visibility":10000,"wind_speed":3,"wind_deg":293,"wind_gust":11.99,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"daily":[{"dt":1753038000,"sunrise":1753012156,"sunset":1753064629,"moonrise":1752995940,"moonset":1753052460,"moon_phase":0.85,"summary":"Expect
        a day of partly cloudy with clear spells","temp":{"day":88.5,"min":63.27,"max":88.52,"night":71.62,"eve":79.95,"morn":70.38},"feels_like":{"day":85.35,"night":70.41,"eve":79.95,"morn":69.42},"pressure":1008,"humidity":24,"dew_point":35.55,"wind_speed":15.59,"wind_deg":191,"wind_gust":21.65,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"clouds":41,"pop":0,"uvi":10.06},{"dt":1753124400,"sunrise":1753098606,"sunset":1753150986,"moonrise":1753085160,"moonset":1753143120,"moon_phase":0.89,"summary":"Expect
        a day of partly cloudy with rain","temp":{"day":91.8,"min":60.96,"max":94.78,"night":70.48,"eve":84.36,"morn":66},"feels_like":{"day":87.44,"night":69.67,"eve":81.79,"morn":64.04},"pressure":1007,"humidity":12,"dew_point":31.33,"wind_speed":10.65,"wind_deg":59,"wind_gust":14.92,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"clouds":86,"pop":0.46,"rain":0.26,"uvi":9.57},{"dt":1753210800,"sunrise":1753185057,"sunset":1753237341,"moonrise":1753175040,"moonset":1753233300,"moon_phase":0.92,"summary":"You
        can expect partly cloudy in the morning, with rain in the afternoon","temp":{"day":92.23,"min":64.15,"max":92.79,"night":65.5,"eve":75.31,"morn":69.57},"feels_like":{"day":88.07,"night":64.99,"eve":74.84,"morn":68.2},"pressure":1006,"humidity":16,"dew_point":39.31,"wind_speed":15.46,"wind_deg":241,"wind_gust":19.91,"weather":[{"id":502,"ma[...]
